<section class="dashboard-section">

  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{user.name}}!</h2>
    </div>
  </div>
  <!--get list of all past post-->
  <h3>Your Post:</h3>

  {{#if user.posts.length}}
    <div class="col-md-6 post-list">

      {{#each user.posts as |post|}}
        <div class="row mb-2 single-user-post">
          <div class="col-md-8">
            <a href="/post/{{post.id}}"><h4>{{post.title}}</h4>
              <p>{{post.description}}</p>
            </a>
          </div>
          <hr />
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger edit-btn"
              data-id="{{post.id}}"
            >EDIT</button>
            <button
              class="btn btn-sm btn-danger del-btn"
              data-id="{{post.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  <!-- add new post-->
  <a href="/write-post"> <h3>Create a New Blog Post</h3> </a>
</section>