<section class="single-post">
<div class="text-center">
  <h2>{{post.title}}</h2>
  <p>{{post.description}}</p>
  <p>by:{{post.user.name}} on {{format_date post.date_created}}</p>

  <hr>

  <h3>comments</h3>
  <h2>{{name}}</h2>

  {{#each comments as |comment|}}
  {{post.title}}

   {{>comment-card}}
   {{#if ../logged_in}}
      {{#when comment.user_id 'eq' ../user_id }}
      {{!-- {{>comment-btn}} --}}
      <div class="form-group comment-btn">
        <button type="submit" class="btn-primary comment-edit" data-id="{{comment.id}}">Edit</button>
        <button type="submit" class="btn-primary comment-delete" data-id="{{comment.id}}">Delete</button>
      </div>
      {{/when}}
    {{/if}}
 

  {{/each}}
    
</div>

<!-- form to get new comments-->
 <form id="new-comment-form" class="card">
    {{!-- <div class="card-header">
      <h3>Add New Comment</h3>
    </div> --}}

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <label class="form-label" for="comment-body">Add new comment</label>

      <textarea name="comment-body" class="form-input" id="comment-desc"></textarea>

      <button type="submit" class="btn comment-btn" onclick="newComment(event)">Submit</button>
    </div>
  </form>
</div>
</section>