<div class="text-center">
  <h2>{{post.title}}</h2>
  <p>{{post.description}}</p>
  <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>

  <h3>comments</h3>
  <h2>{{name}}</h2>

  {{#each comments as |comment|}}

   {{>comment-card}}
  {{/each}}
</div>